/* *****BASE STYLES***** */

body {
    font-size: 16px;
    color: #fff;
    background-color: #660708;
    font-family: 'Oxygen', sans-serif;
}

/* *****HEADER***** */

#header-nav {
    background-color: #ffba08;
    border-radius: 0;
    border-bottom: 2px solid #dc2f02;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#logo-img {
    background: url('/images/logo.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 15px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Dancing Script', cursive;
    color: #6a040f;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #03071e;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a.focus {
    text-decoration: none;
}

.navbar-brand p {
    /* Kosher cert */
    color: #6a040f;
    text-transform: uppercase;
    font-size: .75em;
    margin-top: 5px;
}

.navbar-brand p span {
    /*Kosher star */
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #6a040f;
    text-align: center;
}

#nav-list a:hover {
    background: #FFD770;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    /* phone number */
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    /* We deliver */
    color: #447604;
    text-align: right;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #6a040f;
}

.navbar-header button.navbar-toggle {
    clear: both;
}

/* *****END HEADER***** */

/* *****Large devices***** */

@media (min-width: 1200px) {}

/* *****Medium devices***** */

@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background: url('/images/logo-medium.png') no-repeat;
        width: 95px;
        height: 87px;
        margin: 5px 5px 5px 0;
    }
}

/* *****Small devices***** */

@media (min-width: 768px) and (max-width: 991px) {}

/* *****Extra small devices***** */

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 25px;
        height: 80px;
    }
    /* Restaurant name */
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width */
    }
    /* Kosher cert */
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }
       /*Kosher star */
    .navbar-brand p img {
        height: 20px;
    }
    /* Collapsed nav menu glyph */
    #collapsable-nav a {
        font-size: 1.2em;
    }
    /* Override font sizing a element */
    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }
}